body{
  margin: 0;
  font-family: 'Pacifico', 'RiiPopkkR';
  text-align: center;
  background-color: #00ffff;
  color: white;
}

@font-face {
	font-family: 'Pacifico';
	src: url(/Users/nakajimamasao/OneDrive/Document/Apps/nakajimamasao-appstudio/public/font/Pacifico.ttf);
  src: url(https://nakajimamasao-appstudio.web.app/font/Pacifico.ttf);
}

@font-face {
	font-family: 'RiiPopkkR';
	src: url(/Users/nakajimamasao/OneDrive/Document/Apps/nakajimamasao-appstudio/public/font/RiiPopkkR.otf);
  src: url(https://nakajimamasao-appstudio.web.app/font/RiiPopkkR.otf);
}

.googleplay-badge:hover,
.appstore-badge:hover,
.overlay a:hover,
.policylist a:hover {
  opacity: 0.6;
}

header {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  font-size: 11px;
  left: 0;
  right: 0;
  background: linear-gradient(90deg, #8040ff,#ff80ff);
  color: white;
}

header h1 {
  font-size: 22px;
  font-weight: bold;
}

span {
  display: inline-block;
  padding: 0px 0px 5px 5px; 
}

.sp-menu #open,
.overlay #close {
  position: absolute;
  right: 20px;
  font-size: 32px;
  cursor: pointer;
}

.sp-menu #open{
  margin-top: -20px;
}

.overlay #close{
  margin-top: -10px;
}

.sp-menu #open.hide {
  display: none;
}

.imgmenu,
.imgclose {
  filter: invert(100%);
  -webkit-filter: invert(100%);
}

.overlay{
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  width: 320px;
  background: rgba(0, 0, 0, 0.5);
  padding-top: 24px;
  opacity: 0;
  pointer-events: none;
  transition: all 500ms 0s ease;
}

.overlay li{
  list-style-type: none;
  margin-top: 24px;
}

.overlay a{
  font-size: 16px;
  color: white;
}

.overlay.show {
  opacity: 1;
  pointer-events: auto;
}

.top {
  font-size: 20px;
  background: linear-gradient(90deg, #8040ff,#ff80ff);
}

.top p {
  padding: 20px 0px 20px 0px;
  font-size: 24px;
  font-weight: bold;
}

.container {
  padding-top: 10px;
  margin: 0px 0px 20px 0px;
}

.container li{
  list-style: none ;
  display: inline-block;
  margin-bottom: 10px;
}

.badgecontainer a,
.badgecontainer a:visited{
  color: #8040ff;
}

.appstore-badge,
.googleplay-badge {
  height: 50px; 
  padding: 0px 10px 0px 10px;
}

.topappicon {
  padding: 10px 0px 30px 0px;
  width: 120px;
  height: auto;
}

.toptitleimage{
  padding-top: 80px;
  height: 50px;
  width: auto;
}

.topbackground {
  width: 100%;
  height: auto;
}

.topcontainer,
.featurescontainer {
  margin-left: auto;
  margin-right: auto;
}

.topscreenshotimage{
  padding: 30px 0px 15px 0px;
  vertical-align: bottom;
  width: 50%;
  height: auto;
}

.features{
  font-size: 20px;
  background-color: #00ffff;
  color: white;
  margin-top: -10px;
  padding: 20px 20px 20px 20px;
  font-weight: bold;
}

.featuresscreenshot{
  width: 40%;
  margin: 10px 10px 10px 10px;
}

.downloadnow {
  background: linear-gradient(90deg, #8040ff,#ff80ff);
  color: white;
  padding: 5px 0px 25px 0px;
}

footer {
  color: white;
  font-size: 14px;
  background-color: #2d2926;
  padding: 10px 0px 10px 0px;
}

footer p {
  margin-block-start: 0px;
  margin-block-end: 0px;
}

footer a:visited{
  color: white;
}

.snsbutton li{
  display: inline-block;
  padding: 0px 5px 10px 5px;
}

.snsbutton,
.footercontact {
  padding-inline-start: 0px;
  margin: 10px 10px 0px 10px;
}

.twitter{
  margin-right: -3px;
  width: 90px;
}

.line{
  width:90px;
}

@media screen and (max-width: 400px){
  .toptitleimage{
    height: auto;
    width: 95%;
  }
}

@media screen and (min-width: 400px){
  header h1{
    font-size: 28px;
  }
}

@media screen and (min-width:520px){
  .topscreenshotimage{
    width: 250px;
    height: auto;
  }

  header h1{
    font-size: 32px;
  }
}

@media screen and (min-width: 600px){
  .featuresscreenshot{
    width: 240px;
    height: auto;
    margin: 10px 15px 20px 15px;
  }
}

@media screen and (min-width: 700px){
  .featuresscreenshot{
    margin: 10px 35px 20px 35px;
  }
}

@media screen and (min-width:1000px){
  .topcontainer {
    float: left;
    width: 50%;
    padding: 20px 0px 0px 0px;
  }
  
  .topscreenshotimage {
    padding: 100px 0px 0px 0px;
  }

  .container {
    padding-bottom: 10px;
  }

  .topbackground {
    height: 200px;
  }
}
