@font-face {
	font-family: 'Pacifico';
	src: url(/Users/nakajimamasao/OneDrive/Document/Apps/nakajimamasao-appstudio/public/font/Pacifico.ttf);
  src: url(https://nakajimamasao-appstudio.web.app/font/Pacifico.ttf);
}

@font-face {
	font-family: 'RiiPopkkR';
	src: url(/Users/nakajimamasao/OneDrive/Document/Apps/nakajimamasao-appstudio/public/font/RiiPopkkR.otf);
  src: url(https://nakajimamasao-appstudio.web.app/font/RiiPopkkR.otf);
}

/* Common */
body{ 
  font-family: "Helvetica Neue", "Helvetica", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif; 
  margin: 0; text-align: center; font-size: 18px; font-weight: normal; color: white;
}
.en { font-size: 18px; }
h1 { font-size: 22px; }
span { display: inline-block; padding: 0px 0px 5px 5px; }
.pacifico { font-family: "Pacifico"; font-weight: normal;}
.screenshot { width: 70%; height: auto; margin: 10px 10px 10px 10px; }

/* Color */
.dark { background-color: #2D2926; }
.light { background-color: #00ffff; }

/* Badge */
.badge_container { margin: 20px 10px 20px 10px; }
.badge_container a, .badge_container a:visited { color: #8040ff; }
.appstore_badge, .googleplay_badge { height: 50px; padding: 5px 5px 15px 5px; }
.appstore_badge:hover, .googleplay_badge:hover { opacity: 0.6; }

/* Header */
header { 
  position: fixed; display: flex; justify-content: center; align-items: center; 
  height: 70px; left: 0; right: 0; background: linear-gradient(90deg, #8040ff,#ff80ff); 
}
#apptitle { font-size: 20px; padding: 5px 0px 0px 0px; }
.sp-menu #open, .overlay #close { position: absolute; right: 20px; font-size: 32px; cursor: pointer; }
.sp-menu #open { margin-top: -20px; }
.sp-menu #open.hide { display: none; }
.imgmenu, .imgclose { filter: invert(100%); -webkit-filter: invert(100%); }
.overlay { 
  position: fixed; top: 0; bottom: 0; right: 0; width: 320px; background: rgba(0, 0, 0, 0.5); 
  padding-top: 24px; opacity: 0; pointer-events: none; transition: all 500ms 0s ease;
}
.overlay li { list-style-type: none; margin-top: 24px; }
.overlay a { font-size: 16px; color: white; }
.overlay a:hover { opacity: 0.6; }
.overlay.show { opacity: 1; pointer-events: auto; }
.overlay #close{ margin-top: -10px; }

/* Top */
.top { padding: 75px 0px 0px 0px; background: linear-gradient(90deg, #8040ff,#ff80ff); }
#top_icon { width: 100px; height: auto; margin: 20px 30px 20px 30px; }
.top_subtitle { margin-top: 10px 20px 0px 20px;}
#top_background { width: 100%; height: auto; padding-top: 20px; margin-bottom: -10px;}

/* Features */
.features { padding: 25px 20px 30px 20px; }

/* Download Now */
.dlnow { padding: 20px 0px 10px 0px; background: linear-gradient(90deg, #8040ff,#ff80ff); }

/* Footer */
footer { font-size: 14px; padding: 20px 0px 20px 0px;}
footer p { margin-block-start: 0px; margin-block-end: 0px; margin-bottom: 0; }
footer a, footer a:visited { color: white; }
.snsbutton li { display: inline-block; height: 20px; width: auto; padding: 0px 5px 0px 5px; }
.snsbutton, .footer_contact { padding-inline-start: 0px; margin: 10px 10px 10px 10px; }


@media screen and (min-width: 360px){
  h1, #apptitle { font-size: 24px; }
  .en { font-size: 22px; }
}

@media screen and (min-width: 342px){
  .screenshot { width: 240px }
}

@media screen and (min-width: 420px){
  h1 { font-size: 26px; }
  #apptitle { font-size: 28px; }
}


@media screen and (min-width: 520px){
  #apptitle { font-size: 32px; }
  h1, .en { font-size: 28px; }
  .screenshot { margin: 10px 30px 10px 30px; }
}

@media screen and (min-width:1200px){
  .top { padding: 105px 0px 0px 0px; }
  .top_container { float: left; width: 50%; height: auto; padding-top: 100px;}
  .features_container { float: left; width: 50%; height: auto; }
}


