@font-face {
	font-family: 'Cornerstone';
	src: url(/Users/nakajimamasao/OneDrive/Document/Apps/nakajimamasao-appstudio/public/font/cornerstone.ttf);
  src: url(https://nakajimamasao-appstudio.web.app/font/cornerstone.ttf);
}

/* Common */
body{
  font-family: "Helvetica Neue", "Helvetica", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif;
  margin: 0; text-align: center; font-size: 18px; font-weight: normal;
}
.en { font-size: 20px; }
h1 { font-size: 24px; padding: 10px 10px 10px 10px; }
h2 { font-size: 20px; padding: 10px 10px 10px 10px; }
span { display: inline-block; padding: 0px 0px 5px 5px; }
.cornerstone { font-family: "Cornerstone"; font-weight: normal; }
.image { width: 100%; height: auto;}
.movie { width: 100%; aspect-ratio: 16/9; vertical-align: bottom; }
.screenshot { width: 40%; height: auto; margin: 10px 10px 10px 10px; }

/* Color */
.accentlight { background-color: #F7B249; color: white }
.accent { color: #F7B249; }
.dark { background-color: #383635; color: white }
.light { background-color: white; color: #383635 }

/* Badge */
.badge_container { margin: 20px 0px 20px 0px; }
.badge_container a, .badge_container a:visited { color: white;}
.appstore_badge, .googleplay_badge { height: 50px; padding: 5px 5px 15px 5px; }
.appstore_badge:hover, .googleplay_badge:hover { opacity: 0.6; }

/* Header */
header { position: fixed; display: flex; justify-content: center; align-items: center; height: 70px; left: 0; right: 0;}
#apptitle { font-size: 32px; padding: 5px 0px 0px 0px; }
.sp-menu #open, .overlay #close { position: absolute; right: 20px; font-size: 32px; cursor: pointer; }
.sp-menu #open { margin-top: -20px; }
.sp-menu #open.hide { display: none; }
.imgmenu, .imgclose { filter: invert(100%); -webkit-filter: invert(100%); }
.overlay { 
  position: fixed; top: 0; bottom: 0; right: 0; width: 320px; background: rgba(0, 0, 0, 0.5); 
  padding-top: 24px; opacity: 0; pointer-events: none; transition: all 500ms 0s ease;
}
.overlay li { list-style-type: none; margin-top: 24px; }
.overlay a { font-size: 16px; color: white; }
.overlay a:hover { opacity: 0.6; }
.overlay.show { opacity: 1; pointer-events: auto; }
.overlay #close{ margin-top: -10px; }

/* Top */
.top { padding-bottom: 10px; }
.top_container { padding: 0px 20px 0px 20px}
.top_overdl_en { font-size: 32px; font-weight: normal; }
#top_movie { padding: 70px 0px 55px 0px; }
#top_title { width: auto; height: 100px; }
#top_icon { width: 100px; height: auto; margin: 20px 30px 20px 30px; }
#top_dlnumber { font-size: 50px; font-weight: normal; }
#top_overdl { font-size: 22px; font-weight: bold; }
.top_subtitle { margin-top: 10px;}

/* Features */
.features{ padding: 25px 20px 30px 20px; }
#features_howtouse { font-size: 22px; font-weight: bold; margin-bottom: 10px; }
#features_howtouse_en { font-size: 32px; margin-bottom: 10px; }

/* Big News */
.bignews { font-size: 18px; padding: 30px 0px 30px 0px; }
.bignews_container { padding: 0px 0px 10px 0px; }
#bignews_title { font-size: 40px; margin: 10px 10px 20px 10px; }
.bignews_modetitle { font-size: 22px; margin: 40px 0px 10px 0px; }
.bignews_modetitle_en { font-size: 32px; margin: 40px 0px 10px 0px; }
.bignews_subtitle { margin: 10px 10px 10px 10px; font-weight: bold; }
.bignews_subtitle_en { font-size: 22px; margin: 10px 10px 10px 10px; font-weight: bold; }
#bignews_challenge { padding-top: 10px;}
.bignews_image { width: 100%; padding-bottom: 20px }
.twitter-tweet { width: 90% !important; font-size: 16px; padding: 20px 0px 10px 0px; margin-left: auto; margin-right: auto; }

/* Download Now */
.dlnow { padding-bottom: 10px; }
#dlnow_en { font-size: 36px; }
#dlnow_movie { padding-bottom: 15px; }

/* Footer */
footer { font-size: 14px; padding: 20px 0px 20px 0px;}
footer p { margin-block-start: 0px; margin-block-end: 0px; margin-bottom: 0; }
footer a, footer a:visited { color: white; }
.snsbutton li { display: inline-block; height: 20px; width: auto; padding: 0px 5px 0px 5px; }
.snsbutton, .footer_contact { padding-inline-start: 0px; margin: 10px 10px 10px 10px; }



@media screen and (min-width: 450px){
  .screenshot { width: 180px; }
  #apptitle { font-size: 36px; }
}

@media screen and (min-width: 600px){
  h1 { font-size: 28px; }
  h2 { font-size: 24px; }
  .movie, .image { width: 600px; }
  #apptitle { font-size: 40px; }
  #top_movie { padding-top: 120px; }
  #features_howtouse { font-size: 26px; }
  #features_howtouse_en { font-size: 40px; }
  #bignews_title { font-size: 50px; }
  .bignews_modetitle { font-size: 26px; }
  .bignews_modetitle_en { font-size: 40px; }
  #dlnow_en { font-size: 44px; }
  #dlnow_movie { padding-top: 50px; }
}

@media screen and (min-width:1200px){
  .top { padding: 40px 0px 60px 0px; }
  .top_container { float: right; width: 40%; height: auto; padding: 80px 20px 0px 0px; }
  .top_movie { padding: 150px 0px 35px 50px; }
  .features_container { float: left; width: 50%; height: auto; }
  #features_howtouse, #features_howtouse_en { margin: 5px 0px 0px 0px; }
  .bignews_container { float: left; width: 50%; height: auto; }
  #bignews_challenge { margin-top: 0 !important; padding-top: 0 !important; }
}